body {
    background: linear-gradient(to right, #9be5fd, #ffffff);
    color: #333;
    height: 110vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    font-family: "Poppins", sans-serif;
}


/* styles.css */
body {
    position: relative;
  
    transition: transform 0.5s ease-in-out;
  }
  
  .slide-out {
    transform: translateX(-100%);
  }
  
  .slide-in {
    transform: translateX(0);
  }
  
  body.fade-out {
    transform: translateX(-100%);
  }
  

.header {
    margin-top: 40px;
    position: relative;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    
}


.header h1 {
    font-size: 3rem;
    margin: 0;
    color: #4ea6ee;
}

.header p {
    font-size: 1.5rem;
    margin: 10px 0 0;
    color: #4ea6ee;
}

.header span {
    display: inline-block;
    animation: bounce 3s ease-in-out infinite;
    color: inherit; /* Ensure color inherits from parent */
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.header span:nth-child(1) {
    animation-delay: 0s;
}
.header span:nth-child(2) {
    animation-delay: 0.1s;
}
.header span:nth-child(3) {
    animation-delay: 0.2s;
}
.header span:nth-child(4) {
    animation-delay: 0.3s;
}
.header span:nth-child(5) {
    animation-delay: 0.4s;
}
.header span:nth-child(6) {
    animation-delay: 0.5s;
}
.header span:nth-child(7) {
    animation-delay: 0.6s;
}
.header span:nth-child(8) {
    animation-delay: 0.7s;
}
.header span:nth-child(9) {
    animation-delay: 0.8s;
}
.header span:nth-child(10) {
    animation-delay: 0.9s;
}
.header span:nth-child(11) {
    animation-delay: 1s;
}
.header span:nth-child(12) {
    animation-delay: 1.1s;
}
.header span:nth-child(13) {
    animation-delay: 1.2s;
}
.header span:nth-child(14) {
    animation-delay: 1.3s;
}
.header span:nth-child(15) {
    animation-delay: 1.4s;
}
.header span:nth-child(16) {
    animation-delay: 1.5s;
}
.header span:nth-child(17) {
    animation-delay: 1.6s;
}
.header span:nth-child(18) {
    animation-delay: 1.7s;
}




.introduction {
    display: inline-block;
    overflow: hidden; /* Ensures text doesn't overflow during animation */
    white-space: nowrap; /* Keeps text in a single line */
    border-right: 0.15em solid rgb(0, 0, 0); /* Creates the cursor effect */
    font-size: 24px; /* Adjust size as needed */
    animation: typing 4s steps(12, end) 2s infinite, blink-caret .75s step-end infinite;
    width: calc(var(--text-width) + 0.15em); /* Increase width to prevent cursor from covering text */
  }
  
  @keyframes typing {
    0% { width: 0; }
    30% { width: calc(var(--text-width) + 0.15em); }
    60% { width: calc(var(--text-width) + 0.15em); }
    100% { width: 0; }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: rgb(0, 0, 0); }
  }
  
  
  .navbar-brand {
    margin-left: -10px;
    margin-bottom: 20px;
  }


 

  .box {
    margin-top: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-height: calc(86vh - 60px); /* Adjust the height as needed */
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    max-width: 2000px;
    padding: 100px; /* Padding to ensure spacing */
    position: relative; /* Relative positioning for child positioning */
    border-radius: 10px;
}



  
/* Apply scrollbar styles to the .box element */
.box::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

.box::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Track color */
}

.box::-webkit-scrollbar-thumb {
    background-color: #46a5ff; /* Thumb color */
    border-radius: 10px; /* Rounded corners for the thumb */
}

.box {
    background: linear-gradient(to right, #ffffff, #9be5fd);
}

.box h2, .box h1 {
    color: #32aafa;
}


.sidebar {
    font-size: 17px;
    margin-left: -25px;
    height: 25vh;
    background-color: transparent !important; /* Remove background color */
    color: #45a9fa; /* Change this to your desired font color */
    margin-bottom: 20px;
}
  .sidebar .nav-link {
    color: inherit; /* Ensure nav links inherit the font color */
    padding: 10px 15px;
    display: block;
    text-decoration: none;
  }
  .sidebar .nav-link:hover {
    color: #000000; /* Change this to your desired hover font color */
  }
  .sidebar .nav-link.active {
    color: #000000;
    font-weight: bold; /* Differentiate active link */
  }
  .content-section {
    display: none;
  }
  .content-section.active {
    display: block;
  }


  .download-resume {
    margin-left: 10px;
    padding: 5px;
    width: 250px;
}

.download-resume .btn {
    background-color: #ffffff; /* White background */
    color: #007bff; /* Blue text color */
    border-color: #007bff; /* Blue border color */
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    padding: 0.5rem 1rem; /* Padding for the button */
    border-radius: 0.25rem; /* Rounded corners */
}

.download-resume .btn:hover {
    background-color: #007bff; /* Blue background on hover */
    color: #ffffff; /* White text color on hover */
    border-color: #007bff; /* Blue border color on hover */
    transform: scale(1.05); /* Slightly scale up the button on hover */
}





  .education-item,
.experience-item,
.skill-item,
.about-item {
    font-size: 15px;
    display: flex; /* Enable flexbox layout */
    flex-direction: column; /* Align items vertically in a column */
    align-items: center; /* Center items horizontally within the container */
    text-align: justify; /* Justify text alignment */
    padding: 15px;
    border: 2px solid #55ccfc; /* Medium green border */
    border-radius: 5px;
    color: #55ccfc; /* Medium green text color */
    transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out; /* Smooth hover effect */
    margin-bottom: 20px; /* Add space below each item */
    position: relative; /* Relative positioning for pseudo-element */
    overflow: hidden; /* Hide overflow for animation */
}


.education-item last,
.experience-item last,
.skill-item last,
.about-item last {
    font-size: 15px;
    display: flex; /* Enable flexbox layout */
    flex-direction: column; /* Align items vertically in a column */
    align-items: center; /* Center items horizontally within the container */
    text-align: justify; /* Justify text alignment */
    padding: 15px;
    border: 2px solid #55ccfc; /* Medium green border */
    border-radius: 5px;
    color: #55ccfc; /* Medium green text color */
    transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out; /* Smooth hover effect */
    margin-bottom: 50px; /* Add space below each item */
    position: relative; /* Relative positioning for pseudo-element */
    overflow: hidden; /* Hide overflow for animation */
}



.education-item::after,
.experience-item::after,
.skill-item::after,
.about-item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #fff; /* White underline */
    transition: width 0.75s ease-in-out; /* Smooth width transition */
    opacity: 0; /* Initially hidden */
}

/* Hover state */
.education-item:hover,
.experience-item:hover,
.skill-item:hover,
.about-item:hover {
    border-color: #1f91fc;  /* Darker green border color on hover */
    color: #fff; /* White text color on hover */
    background-color: #1f91fc; /* Darker green background color on hover */
}


.education-item:hover::after,
.experience-item:hover::after,
.skill-item:hover::after,
.about-item:hover::after {
    width: 100%; /* Increase width on hover */
    opacity: 1; /* Show underline on hover */
}





.education-item h4,
.experience-item h4,
.skill-item h4,
.about-item h4 {
    margin-bottom: 10px;
    font-size: 1.25em;
}


.content-section h3 {
    font-family: JetBrainsMono-Bold, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Preferred font family */
    font-weight: bold;
    padding: 10px 15px;
    display: inline-block; /* Ensures the background and border fit around the text */
    background-color: transparent; /* White background color */
    color: #666; /* Default text color */
    animation: color-change 5s infinite, scalePositionAnimation 5s infinite alternate; /* Color, scale, and position animations */
    position: relative; /* Ensure relative positioning for absolute children */
    transform-origin: left; /* Scale from the left side */
    margin-left: -10px;
}

@keyframes color-change {
    0% {
        color: #43fabd;  /* Starting color */
        border-color: #43fabd; /* Starting border color */
    }
    50% {
        color: #a4c1f7; /* Midway color change */
        border-color: #a4c1f7; /* Midway border color */
        transform: scale(1.05); /* Scale up slightly */
    }
    100% {
        color: #46c4ff; /* Back to starting color */
        border-color: #46c4ff; /* Back to starting border color */
        transform: scale(1); /* Return to original size */
    }
}
